In [62]:
pip install numpy

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: numpy in c:\users\lab4-studentpc22\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (2.2.2)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: C:\Users\LAB4-StudentPC22\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.13_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [63]:
pip install panda

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: panda in c:\users\lab4-studentpc22\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (0.3.1)
Requirement already satisfied: setuptools in c:\users\lab4-studentpc22\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from panda) (75.8.0)
Requirement already satisfied: requests in c:\users\lab4-studentpc22\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from panda) (2.32.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\lab4-studentpc22\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from requests->panda) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in c:\users\lab4-studentpc22\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from requests->panda) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\lab4-studentpc22\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from requests->panda) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\lab4-studentpc22\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from requests->panda) (2024.12.14)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: C:\Users\LAB4-StudentPC22\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.13_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [64]:
pip install matplotlib

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: matplotlib in c:\users\lab4-studentpc22\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (3.10.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\lab4-studentpc22\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from matplotlib) (1.3.1)
Requirement already satisfied: cycler>=0.10 in c:\users\lab4-studentpc22\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\lab4-studentpc22\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from matplotlib) (4.55.3)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\lab4-studentpc22\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from matplotlib) (1.4.8)
Requirement already satisfied: numpy>=1.23 in c:\users\lab4-studentpc22\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from matplotlib) (2.2.2)
Requirement already satisfied: packaging>=20.0 in c:\users\lab4-studentpc22\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from matplotlib) (24.2)
Requirement already satisfied: pillow>=8 in c:\users\lab4-studentpc22\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from matplotlib) (11.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\lab4-studentpc22\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from matplotlib) (3.2.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\lab4-studentpc22\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in c:\users\lab4-studentpc22\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from python-dateutil>=2.7->matplotlib) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: C:\Users\LAB4-StudentPC22\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.13_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [65]:
pip install seaborn

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: seaborn in c:\users\lab4-studentpc22\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (0.13.2)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in c:\users\lab4-studentpc22\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from seaborn) (2.2.2)
Requirement already satisfied: pandas>=1.2 in c:\users\lab4-studentpc22\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from seaborn) (2.2.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in c:\users\lab4-studentpc22\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from seaborn) (3.10.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\lab4-studentpc22\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.3.1)
Requirement already satisfied: cycler>=0.10 in c:\users\lab4-studentpc22\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\lab4-studentpc22\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.55.3)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\lab4-studentpc22\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.8)
Requirement already satisfied: packaging>=20.0 in c:\users\lab4-studentpc22\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (24.2)
Requirement already satisfied: pillow>=8 in c:\users\lab4-studentpc22\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (11.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\lab4-studentpc22\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.2.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\lab4-studentpc22\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\lab4-studentpc22\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from pandas>=1.2->seaborn) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\lab4-studentpc22\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from pandas>=1.2->seaborn) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\lab4-studentpc22\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: C:\Users\LAB4-StudentPC22\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.13_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [66]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [67]:
birds = pd.read_csv('Datasets\\penguins.csv')

<h1>HOW MANY GENTOO SPECIES HAVE WEIGHT LESS THAN 3KG</h1>

In [68]:
birds['body_mass_g'] > 3000

0       True
1       True
2       True
3      False
4       True
       ...
339     True
340     True
341     True
342     True
343     True
Name: body_mass_g, Length: 344, dtype: bool

In [69]:
birds[birds['body_mass_g'] > 3000]

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,1,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,2,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,3,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
4,5,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007
5,6,Adelie,Torgersen,39.3,20.6,190.0,3650.0,male,2007
...,...,...,...,...,...,...,...,...,...
339,340,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009
340,341,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009
341,342,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009
342,343,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009
343,344,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009

In [70]:
(birds['species'] == 'Gentoo') & (birds['body_mass_g'] > 3000)

0      False
1      False
2      False
3      False
4      False
       ...
339    False
340    False
341    False
342    False
343    False
Length: 344, dtype: bool

<h1>DOES ANY OF THE PENGUIN SPECIES LIVE EXCLUSIVELY ON A ISLAND?</h1>

In [71]:
birds['island'].value_counts()

island
Biscoe       168
Dream        124
Torgersen     52
Name: count, dtype: int64

<h1> GENTOO IN DREAM</h1>

In [72]:
gentoo_dream = birds[(birds['species'] ==  'Gentoo') & (birds['island'] ==  'Dream')]

In [73]:
gentoo_dream

Empty DataFrame
Columns: [rowid, species, island, bill_length_mm, bill_depth_mm, flipper_length_mm, body_mass_g, sex, year]
Index: []

In [74]:
gentoo_torg = birds[(birds['species'] ==  'Gentoo') & (birds['island'] ==  'Torgersen')]

In [75]:
gentoo_torg

Empty DataFrame
Columns: [rowid, species, island, bill_length_mm, bill_depth_mm, flipper_length_mm, body_mass_g, sex, year]
Index: []

<h1> GENTOO IN BISCOE</h1>

In [76]:
gentoo_biscoe = birds[(birds['species'] ==  'Gentoo') & (birds['island'] ==  'Biscoe')]

In [77]:
gentoo_biscoe

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
152,153,Gentoo,Biscoe,46.1,13.2,211.0,4500.0,female,2007
153,154,Gentoo,Biscoe,50.0,16.3,230.0,5700.0,male,2007
154,155,Gentoo,Biscoe,48.7,14.1,210.0,4450.0,female,2007
155,156,Gentoo,Biscoe,50.0,15.2,218.0,5700.0,male,2007
156,157,Gentoo,Biscoe,47.6,14.5,215.0,5400.0,male,2007
...,...,...,...,...,...,...,...,...,...
271,272,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN,2009
272,273,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,female,2009
273,274,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,male,2009
274,275,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,female,2009
275,276,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,male,2009

<h1>Insight No.1</h1>

Gentoo live exclusively on the Biscoe Island

<h1>Adelie in Dream</h1>

In [78]:
adelie_dream = birds[(birds['species'] ==  'Adelie') & (birds['island'] ==  'Dream')]

In [79]:
adelie_dream

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
30,31,Adelie,Dream,39.5,16.7,178.0,3250.0,female,2007
31,32,Adelie,Dream,37.2,18.1,178.0,3900.0,male,2007
32,33,Adelie,Dream,39.5,17.8,188.0,3300.0,female,2007
33,34,Adelie,Dream,40.9,18.9,184.0,3900.0,male,2007
34,35,Adelie,Dream,36.4,17.0,195.0,3325.0,female,2007
35,36,Adelie,Dream,39.2,21.1,196.0,4150.0,male,2007
36,37,Adelie,Dream,38.8,20.0,190.0,3950.0,male,2007
37,38,Adelie,Dream,42.2,18.5,180.0,3550.0,female,2007
38,39,Adelie,Dream,37.6,19.3,181.0,3300.0,female,2007
39,40,Adelie,Dream,39.8,19.1,184.0,4650.0,male,2007
40,41,Adelie,Dream,36.5,18.0,182.0,3150.0,female,2007
41,42,Adelie,Dream,40.8,18.4,195.0,3900.0,male,2007
42,43,Adelie,Dream,36.0,18.5,186.0,3100.0,female,2007
43,44,Adelie,Dream,44.1,19.7,196.0,4400.0,male,2007
44,45,Adelie,Dream,37.0,16.9,185.0,3000.0,female,2007
45,46,Adelie,Dream,39.6,18.8,190.0,4600.0,male,2007
46,47,Adelie,Dream,41.1,19.0,182.0,3425.0,male,2007
47,48,Adelie,Dream,37.5,18.9,179.0,2975.0,NaN,2007
48,49,Adelie,Dream,36.0,17.9,190.0,3450.0,female,2007
49,50,Adelie,Dream,42.3,21.2,191.0,4150.0,male,2007
84,85,Adelie,Dream,37.3,17.8,191.0,3350.0,female,2008
85,86,Adelie,Dream,41.3,20.3,194.0,3550.0,male,2008
86,87,Adelie,Dream,36.3,19.5,190.0,3800.0,male,2008
87,88,Adelie,Dream,36.9,18.6,189.0,3500.0,female,2008
88,89,Adelie,Dream,38.3,19.2,189.0,3950.0,male,2008
89,90,Adelie,Dream,38.9,18.8,190.0,3600.0,female,2008
90,91,Adelie,Dream,35.7,18.0,202.0,3550.0,female,2008
91,92,Adelie,Dream,41.1,18.1,205.0,4300.0,male,2008
92,93,Adelie,Dream,34.0,17.1,185.0,3400.0,female,2008
93,94,Adelie,Dream,39.6,18.1,186.0,4450.0,male,2008
94,95,Adelie,Dream,36.2,17.3,187.0,3300.0,female,2008
95,96,Adelie,Dream,40.8,18.9,208.0,4300.0,male,2008
96,97,Adelie,Dream,38.1,18.6,190.0,3700.0,female,2008
97,98,Adelie,Dream,40.3,18.5,196.0,4350.0,male,2008
98,99,Adelie,Dream,33.1,16.1,178.0,2900.0,female,2008
99,100,Adelie,Dream,43.2,18.5,192.0,4100.0,male,2008
132,133,Adelie,Dream,36.8,18.5,193.0,3500.0,female,2009
133,134,Adelie,Dream,37.5,18.5,199.0,4475.0,male,2009
134,135,Adelie,Dream,38.1,17.6,187.0,3425.0,female,2009
135,136,Adelie,Dream,41.1,17.5,190.0,3900.0,male,2009
136,137,Adelie,Dream,35.6,17.5,191.0,3175.0,female,2009
137,138,Adelie,Dream,40.2,20.1,200.0,3975.0,male,2009
138,139,Adelie,Dream,37.0,16.5,185.0,3400.0,female,2009
139,140,Adelie,Dream,39.7,17.9,193.0,4250.0,male,2009
140,141,Adelie,Dream,40.2,17.1,193.0,3400.0,female,2009
141,142,Adelie,Dream,40.6,17.2,187.0,3475.0,male,2009
142,143,Adelie,Dream,32.1,15.5,188.0,3050.0,female,2009
143,144,Adelie,Dream,40.7,17.0,190.0,3725.0,male,2009
144,145,Adelie,Dream,37.3,16.8,192.0,3000.0,female,2009
145,146,Adelie,Dream,39.0,18.7,185.0,3650.0,male,2009
146,147,Adelie,Dream,39.2,18.6,190.0,4250.0,male,2009
147,148,Adelie,Dream,36.6,18.4,184.0,3475.0,female,2009
148,149,Adelie,Dream,36.0,17.8,195.0,3450.0,female,2009
149,150,Adelie,Dream,37.8,18.1,193.0,3750.0,male,2009
150,151,Adelie,Dream,36.0,17.1,187.0,3700.0,female,2009
151,152,Adelie,Dream,41.5,18.5,201.0,4000.0,male,2009

<h1>Adelie in Torgersen</h1>

In [80]:
adelie_torg = birds[(birds['species'] ==  'Adelie') & (birds['island'] ==  'Torgesen')]

In [81]:
adelie_torg

Empty DataFrame
Columns: [rowid, species, island, bill_length_mm, bill_depth_mm, flipper_length_mm, body_mass_g, sex, year]
Index: []

<h1>Adelie in Biscoe</h1>

In [82]:
adelie_biscoe = birds[(birds['species'] ==  'Adelie') & (birds['island'] ==  'Biscoe')]

In [83]:
adelie_biscoe

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
20,21,Adelie,Biscoe,37.8,18.3,174.0,3400.0,female,2007
21,22,Adelie,Biscoe,37.7,18.7,180.0,3600.0,male,2007
22,23,Adelie,Biscoe,35.9,19.2,189.0,3800.0,female,2007
23,24,Adelie,Biscoe,38.2,18.1,185.0,3950.0,male,2007
24,25,Adelie,Biscoe,38.8,17.2,180.0,3800.0,male,2007
25,26,Adelie,Biscoe,35.3,18.9,187.0,3800.0,female,2007
26,27,Adelie,Biscoe,40.6,18.6,183.0,3550.0,male,2007
27,28,Adelie,Biscoe,40.5,17.9,187.0,3200.0,female,2007
28,29,Adelie,Biscoe,37.9,18.6,172.0,3150.0,female,2007
29,30,Adelie,Biscoe,40.5,18.9,180.0,3950.0,male,2007
50,51,Adelie,Biscoe,39.6,17.7,186.0,3500.0,female,2008
51,52,Adelie,Biscoe,40.1,18.9,188.0,4300.0,male,2008
52,53,Adelie,Biscoe,35.0,17.9,190.0,3450.0,female,2008
53,54,Adelie,Biscoe,42.0,19.5,200.0,4050.0,male,2008
54,55,Adelie,Biscoe,34.5,18.1,187.0,2900.0,female,2008
55,56,Adelie,Biscoe,41.4,18.6,191.0,3700.0,male,2008
56,57,Adelie,Biscoe,39.0,17.5,186.0,3550.0,female,2008
57,58,Adelie,Biscoe,40.6,18.8,193.0,3800.0,male,2008
58,59,Adelie,Biscoe,36.5,16.6,181.0,2850.0,female,2008
59,60,Adelie,Biscoe,37.6,19.1,194.0,3750.0,male,2008
60,61,Adelie,Biscoe,35.7,16.9,185.0,3150.0,female,2008
61,62,Adelie,Biscoe,41.3,21.1,195.0,4400.0,male,2008
62,63,Adelie,Biscoe,37.6,17.0,185.0,3600.0,female,2008
63,64,Adelie,Biscoe,41.1,18.2,192.0,4050.0,male,2008
64,65,Adelie,Biscoe,36.4,17.1,184.0,2850.0,female,2008
65,66,Adelie,Biscoe,41.6,18.0,192.0,3950.0,male,2008
66,67,Adelie,Biscoe,35.5,16.2,195.0,3350.0,female,2008
67,68,Adelie,Biscoe,41.1,19.1,188.0,4100.0,male,2008
100,101,Adelie,Biscoe,35.0,17.9,192.0,3725.0,female,2009
101,102,Adelie,Biscoe,41.0,20.0,203.0,4725.0,male,2009
102,103,Adelie,Biscoe,37.7,16.0,183.0,3075.0,female,2009
103,104,Adelie,Biscoe,37.8,20.0,190.0,4250.0,male,2009
104,105,Adelie,Biscoe,37.9,18.6,193.0,2925.0,female,2009
105,106,Adelie,Biscoe,39.7,18.9,184.0,3550.0,male,2009
106,107,Adelie,Biscoe,38.6,17.2,199.0,3750.0,female,2009
107,108,Adelie,Biscoe,38.2,20.0,190.0,3900.0,male,2009
108,109,Adelie,Biscoe,38.1,17.0,181.0,3175.0,female,2009
109,110,Adelie,Biscoe,43.2,19.0,197.0,4775.0,male,2009
110,111,Adelie,Biscoe,38.1,16.5,198.0,3825.0,female,2009
111,112,Adelie,Biscoe,45.6,20.3,191.0,4600.0,male,2009
112,113,Adelie,Biscoe,39.7,17.7,193.0,3200.0,female,2009
113,114,Adelie,Biscoe,42.2,19.5,197.0,4275.0,male,2009
114,115,Adelie,Biscoe,39.6,20.7,191.0,3900.0,female,2009
115,116,Adelie,Biscoe,42.7,18.3,196.0,4075.0,male,2009

In [84]:
adelie_biscoe.info()

<class 'pandas.core.frame.DataFrame'>
Index: 44 entries, 20 to 115
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   rowid              44 non-null     int64
 1   species            44 non-null     object
 2   island             44 non-null     object
 3   bill_length_mm     44 non-null     float64
 4   bill_depth_mm      44 non-null     float64
 5   flipper_length_mm  44 non-null     float64
 6   body_mass_g        44 non-null     float64
 7   sex                44 non-null     object
 8   year               44 non-null     int64
dtypes: float64(4), int64(2), object(3)
memory usage: 3.4+ KB

<h1>Insight No.2</h1>

The species Adelie lives on the three island

<h1>Chinstrap in Dream</h1>

In [85]:
chinstrap_dream = birds[(birds['species'] ==  'Chinstrap') & (birds['island'] ==  'Dream')]

In [86]:
chinstrap_dream

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
276,277,Chinstrap,Dream,46.5,17.9,192.0,3500.0,female,2007
277,278,Chinstrap,Dream,50.0,19.5,196.0,3900.0,male,2007
278,279,Chinstrap,Dream,51.3,19.2,193.0,3650.0,male,2007
279,280,Chinstrap,Dream,45.4,18.7,188.0,3525.0,female,2007
280,281,Chinstrap,Dream,52.7,19.8,197.0,3725.0,male,2007
...,...,...,...,...,...,...,...,...,...
339,340,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009
340,341,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009
341,342,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009
342,343,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009
343,344,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009

<h1>Chinstrap in Torgersen</h1>

In [87]:
chinstrap_torg = birds[(birds['species'] ==  'Chinstrap') & (birds['island'] ==  'Torgersen')]

In [88]:
chinstrap_torg

Empty DataFrame
Columns: [rowid, species, island, bill_length_mm, bill_depth_mm, flipper_length_mm, body_mass_g, sex, year]
Index: []

<h1>Chinstrap in Torgersen</h1>

In [89]:
chinstrap_biscoe = birds[(birds['species'] ==  'Chinstrap') & (birds['island'] ==  'Biscoe')]

In [90]:
chinstrap_biscoe

Empty DataFrame
Columns: [rowid, species, island, bill_length_mm, bill_depth_mm, flipper_length_mm, body_mass_g, sex, year]
Index: []

In [91]:
birds.columns

Index(['rowid', 'species', 'island', 'bill_length_mm', 'bill_depth_mm',
       'flipper_length_mm', 'body_mass_g', 'sex', 'year'],
      dtype='object')

<h1>Insight No. 3</h1>

Chinstrap live exclusively on the Dream Island

<h1>DOES THE ISLAND IMPACT THE BODY MASS OF A PENGUIN SPECIE?</h1>

In [92]:
adelie_biscoe_w = np.round(adelie_biscoe['body_mass_g'].mean(),1)

In [93]:
adelie_biscoe_w

np.float64(3709.7)

In [94]:
adelie_torg = np.round(adelie_torg['body_mass_g'].mean(),1)

In [95]:
adelie_torg

np.float64(nan)

In [96]:
adelie_dream_w = np.round(adelie_dream['body_mass_g'].mean(),1)

In [97]:
adelie_dream_w

np.float64(3688.4)

<h1>Insight No. 4</h1>

Adelie average weight is 3.7 kilograms

In [98]:
gentoo_biscoe_w = np.round(gentoo_biscoe['body_mass_g'].mean(),1)

In [99]:
gentoo_biscoe_w

np.float64(5076.0)

<h1>Insight No. 5</h1>

Gentoo average weight is 5.1 kilograms

In [100]:
chinstrap_dream_w = np.round(chinstrap_dream['body_mass_g'].mean(),1)

In [101]:
chinstrap_dream_w

np.float64(3733.1)

<h1>Insight No. 6</h1>

Chinstrap average weight is 3.7 kilograms

<h1>Insight No. 7</h1>

The heaviest specie among the three specie in the dataset is the Gentoo penguin

<h1>AGGREGATING DATA</h1>

In [102]:
birds_island = birds.groupby(['species', 'island', 'sex']).size()

In [103]:
birds_island

species    island     sex
Adelie     Biscoe     female    22
                      male      22
           Dream      female    27
                      male      28
           Torgersen  female    24
                      male      23
Chinstrap  Dream      female    34
                      male      34
Gentoo     Biscoe     female    58
                      male      61
dtype: int64

<h1>HOW TO USE GROUPBY?</h1>

1. NAME THE GROUP BY REFERENCE DATA FRAME
2. CALL THE DATAFRAME
3. .GROUPBY() FUNCTION
4. COLUMNS TO GROUP
5. GROUP BY FUNCTION

In [104]:
birds_agg = birds.groupby(['species', 'island']).size()

In [105]:
birds_agg

species    island
Adelie     Biscoe        44
           Dream         56
           Torgersen     52
Chinstrap  Dream         68
Gentoo     Biscoe       124
dtype: int64

In [106]:
birds_agg_2 = np.round(birds.groupby(['species', 'island', 'sex'])['body_mass_g'].mean(), 1)

In [107]:
birds_agg_2

species    island     sex
Adelie     Biscoe     female    3369.3
                      male      4050.0
           Dream      female    3344.4
                      male      4045.5
           Torgersen  female    3395.8
                      male      4034.8
Chinstrap  Dream      female    3527.2
                      male      3939.0
Gentoo     Biscoe     female    4679.7
                      male      5484.8
Name: body_mass_g, dtype: float64

In [108]:
birds_agg_3 = birds.groupby(['species', 'island', 'year', 'sex']).size()

In [109]:
birds_agg_3.unstack()

sex                       female  male
species   island    year
Adelie    Biscoe    2007       5     5
                    2008       9     9
                    2009       8     8
          Dream     2007       9    10
                    2008       8     8
                    2009      10    10
          Torgersen 2007       8     7
                    2008       8     8
                    2009       8     8
Chinstrap Dream     2007      13    13
                    2008       9     9
                    2009      12    12
Gentoo    Biscoe    2007      16    17
                    2008      22    23
                    2009      20    21

<h1>Insight 8</h1>
1. 2007 is the year that has the highest recorded male Adelie in Torgersen island
2. 2007 is the year that has the highest recorded male Chinstrap in Dream island
3. Both 2008 and 2009 are the year that have the highest recorded male Gentoo in Biscoe island

In [110]:
birds_agg_4 = np.round(birds.groupby(['species', 'sex'])['body_mass_g'].mean(), 1)

In [111]:
birds_agg_4

species    sex
Adelie     female    3368.8
           male      4043.5
Chinstrap  female    3527.2
           male      3939.0
Gentoo     female    4679.7
           male      5484.8
Name: body_mass_g, dtype: float64

<h1>Insight No.9</h1>
The average weight of a female Adelie penguin is 3.4 kilograms
The average weight of a male Adelie penguin is 4.0 kilograms

<h1>Insight No.10</h1>
The average weight of a female Chinstrap penguin is 3.5 kilograms
The average weight of a male Chinstrap penguin is 3.9 kilograms

<h1>Insight No.11</h1>
The average weight of a female Gentoo penguin is 4.7 kilograms
The average weight of a male Gentoo penguin is 5.4 kilograms

<h1>CORRELATION</h1>
<H2>CORRELATION USINBG PYTHON AND PANDAS</H2>

<h1>DOES THE BILL LENGTH AFFECTS THE SIZE OF DEPTH?</h1>

In [112]:
b_dep_length_cor = birds['bill_length_mm'].corr(birds['bill_depth_mm'])

In [113]:
b_dep_length_cor

np.float64(-0.23505287035553257)

In [114]:
birds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   rowid              344 non-null    int64
 1   species            344 non-null    object
 2   island             344 non-null    object
 3   bill_length_mm     342 non-null    float64
 4   bill_depth_mm      342 non-null    float64
 5   flipper_length_mm  342 non-null    float64
 6   body_mass_g        342 non-null    float64
 7   sex                333 non-null    object
 8   year               344 non-null    int64
dtypes: float64(4), int64(2), object(3)
memory usage: 24.3+ KB

<h1>What is the result of a correlation?</h1>
<h3>What is the P value</h3>
<p></p>

<h3>Requirement for Correlation</h3>
<ul>
    <li>
        Name the Correlation value
    </li>
    <li>
        Call the first column
    </li>
    <li>
        Test Correlation using the .corr() function
    </li>
    <li>
        Call the Second column
    </li>
</ul>

<h1>Insight No.12</h1>
Theres a Strong Correlation in birds Body mass and Flipper. The correlation was around 0.8712

In [115]:
b_mass_flip = birds['body_mass_g'].corr(birds['flipper_length_mm'])

In [116]:
b_mass_flip

np.float64(0.8712017673060113)

<h1>Insight No.13</h1>
Theres a correlation between Bill length and Flipper Length

In [117]:
b_bill_flip = birds['bill_length_mm'].corr(birds['flipper_length_mm'])

In [118]:
b_bill_flip

np.float64(0.6561813407464278)

<h1>Insight No.14</h1>
Theres no Correlation in Bill Depth and Flipper Length

In [119]:
b_depth_flip = birds['bill_depth_mm'].corr(birds['flipper_length_mm'])

In [120]:
b_depth_flip

np.float64(-0.5838512164654122)

<h1>Insight No.15</h1>
There is no correlation between body mass and bill depth

In [121]:
b_mass_bill = birds['body_mass_g'].corr(birds['bill_depth_mm'])

In [122]:
b_mass_bill

np.float64(-0.47191562118606645)

<h1>CORRELATION BETWEEN QUALITATIVE AND QUANTITATIVE</h1>
<P>SEX AND BODY MASS</P>

<H1>Library for ONE WAY ANNOVA -- SCIENCE PYTHON (scipy)</H1>

In [124]:
pip install scipy

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: scipy in c:\users\lab4-studentpc22\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (1.15.2)
Requirement already satisfied: numpy<2.5,>=1.23.5 in c:\users\lab4-studentpc22\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from scipy) (2.2.2)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: C:\Users\LAB4-StudentPC22\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.13_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [139]:
from scipy.stats import f_oneway

<p>Requirement for ONE WAY ANNOVA</p>
<p>Filter Columns and its Data</p>

In [140]:
birds[birds['sex']== 'male']['body_mass_g']

0      3750.0
5      3650.0
7      4675.0
13     3800.0
14     4400.0
        ...
334    3800.0
336    3950.0
339    4000.0
341    3775.0
342    4100.0
Name: body_mass_g, Length: 168, dtype: float64

In [141]:
birds[birds['sex']== 'female']['body_mass_g']

1      3800.0
2      3250.0
4      3450.0
6      3625.0
12     3200.0
        ...
335    3525.0
337    3650.0
338    3650.0
340    3400.0
343    3775.0
Name: body_mass_g, Length: 165, dtype: float64

In [142]:
birds[birds['sex']== 'male']['body_mass_g']

f_stats, p_value = f_oneway(birds[birds['sex']== 'male']['body_mass_g'],birds[birds['sex']== 'female']['body_mass_g'])

print(p_value)

4.897246751596225e-16

<h1>Insights No.16</h1>
<p>There's a correlation between sex & body mass</p>

In [143]:
birds[birds['sex']== 'male']['body_mass_g']

f_stats, p_value = f_oneway(birds[birds['sex']== 'male']['body_mass_g'],
                            birds[birds['sex']== 'female']['body_mass_g'])

print(p_value)

4.897246751596225e-16

In [144]:
birds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   rowid              344 non-null    int64
 1   species            344 non-null    object
 2   island             344 non-null    object
 3   bill_length_mm     342 non-null    float64
 4   bill_depth_mm      342 non-null    float64
 5   flipper_length_mm  342 non-null    float64
 6   body_mass_g        342 non-null    float64
 7   sex                333 non-null    object
 8   year               344 non-null    int64
dtypes: float64(4), int64(2), object(3)
memory usage: 24.3+ KB